<div class = "location-creation">
    <div class = "col-md-12">
        <h3 class="mb-3 text-center">Create Location</h3>
        <div class="form-group">
            <input type = "text" [(ngModel)]= "locationRequestDto.state" class = "form-control" placeholder="State">
        </div>
        <br>
        <div class="form-group">
            <input type="text" [(ngModel)]="locationRequestDto.city" class="form-control" placeholder="City">
          </div>
          <br>
          <div class="form-group">
            <input type="text" [(ngModel)]="locationRequestDto.zipCode" class="form-control" placeholder="Zip Code">
          </div> 
          <br> 
    </div>
    <button (click)="postLocations(locationRequestDto)">Add New Location</button>
</div>
<hr><br>

<div class="location-container">
    <div class="getLocationByTwoDropDowns">
        <h3>Search Locations:</h3>
        <form #typeForm="ngForm" (ngSubmit)="selectSearchType(typeForm)">
            <label>Search By: </label>
            <select name="searchType" id="search-type" ngModel>
                <option value="city">City</option>
                <option value="state">State</option>
                <option value="zip">Zip Code</option>
            </select>
            <button type="submit">>>></button>
        </form>
        <br>
    </div>

    <div class="getLocationOptions">
        <form #cityForm="ngForm" (ngSubmit)="searchCity(cityForm)" id="city-form" style="display: none;">
            <span>City: </span>
            <select name="searchCity" id="type-city" ngModel>
                <option *ngFor="let location of allLocations" [value]= "location.city">
                    {{location.city}}
                </option>
            </select>
            <button type="submit">Search</button>
        </form>

        <form #stateForm="ngForm" (ngSubmit)="searchState(stateForm)" id="state-form" style="display: none;">
            <span>State: </span>
            <select name="searchState" id="type-state" ngModel>
                <option *ngFor="let location of allLocations" [value]= "location.state">
                    {{location.state}}
                </option>
            </select>
            <button type="submit">Search</button>
        </form>

        <form #zipForm="ngForm" (ngSubmit)="searchZip(zipForm)" id="zip-form" style="display: none;">
            <span>Zip Code: </span>
            <select name="searchZip" id="type-zip" ngModel>
                <option *ngFor="let location of allLocations" [value]= "location.zipCode">
                    {{location.zipCode}}
                </option>
            </select>
            <button>Search</button>
        </form> 
    </div>
    <br><hr>

    <hr>
    <h3>All Locations:</h3> 
    <br>
    <div *ngFor="let location of pulledLocations">
     <a routerLink="{{ location.id }}">
        <span>ID: {{location.id}}</span>
    </a>
        <br>
        <span>City: {{location.city}} </span>
        <br>
        <span>State: {{location.state}} </span>
        <br>
        <span>ZipCode: {{location.zipCode}} </span>
        <br>
        <span>Buildings: </span>
        <span>{{location.numBuildings}}</span>
        <br><br>
    </div>
    <br>
    <hr><br>
    <button (click)="backButton()">Back</button>
    <br><br><br>
    </div>
    
 