/** define the color variables for the application style guide */
:root {
    /* primary palate */
    --orange: #f26925;  /* primary */
    --white: #ffff; /* secondary */
    --dkgray: #474c55; /* tertiary */

    /* Secondary palatte */
    --blue: #72a4c2; /* primary */
    --yellow: #fcb414; /* secondary */
    --ltgray: #b9b9ba; /* tertiary */
}
#logo:defined {
    /* specify logo padding arbitray amount for now */
    margin: 29px; /* supposed to be the size of the 'R' in the logo*/
}
@font-face {
    font-family: 'Futura-Std-Bold';
    src: url('assets/fonts/Futura-Std-Bold.otf') format('otf');
    font-style: bold;
    font-display: optional;
}
@font-face {
    font-family: 'Futura-Std-Book';
    src: url('assets/fonts/Futura-Std-Book.otf') format('otf');
    font-display: optional;
}
@font-face {
    font-family: 'Futura-Std-Heavy';
    src: url('assets/fonts/Futura-Std-Heavy.otf') format('otf');
    font-display: optional;
}
@font-face {
    font-family: 'Futura-Std-Medium';
    src: url('assets/fonts/Futura-Std-Medium.otf') format('otf');   
    font-display: optional;
}
.a {
    font-family: 'Futura-Std-Bold';
    font-style: bold;
}       
.b {
    font-family: 'Futura-Std-Book';
}      
.c {
    font-family: 'Futura-Std-Heavy';
}  
.d {
    font-family: 'Futura-Std-Medium';
}       

